<div class="stickyFooter">
    <p class="footerLinks">
        <a id="textColor" href="/contact">Contact </a>
        <a id="textColor" href="/about">| About</a>
    </p>

    <p class="copyright">
        © hive builder 2019
    </p>
</div>