<header>
    <nav role="navigation">
        <ul class="navbar">
            <li id="logo">
                hive builder
            </li>
            <li id="searchBar">
                <form action="API ROUTE">
                    <input type="text" placeholder="Search Events">
                    <button id="searchButton" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </li>
            <li class="push"><a class="navText" href="/members">Account</a></li>
            <li><a class="navText" href="/create">Create Event</a></li>
            <li><a class="navText" href="/all">All Events</a></li>
            <li><a class="navText" href="/signUp">Sign Up</a></li>
            <li><a class="navText" href="/login">Login</a></li>
            </li>
        </ul>
    </nav>
</header>