<header>
    <!-- <div id="logo"> -->
    <!-- <a href="/"><img src="/assets/images/hiveBuilderLogo.jpg"><a href="/"></a> -->
    <!-- </div> -->
    <!-- <input type="checkbox" class="toggle" id="toggle"> -->
    <nav>
        <ul>
            <li id="logo">
                <h1>Hive Builder</h1>
            </li>
            <li>
                <form action="API ROUTE">
                    <input type="text" placeholder="Search Events">
                    <button id="searchButton" type="submit"><i>
            <class="fas fa-search"></i></button>
            </form>
            </li>
            <li class="links"><a href="">View Events</a></li>
            <li class="links"><a href="">Create Account</a></li>
            <li class="links"><a href="/signup">Sign In</a></li>
        </ul>
    </nav>
    <!-- <label for="toggle" class="toggle-label"> -->
        <span></span>
    </label>
    </div>
</header>