<header>
    <nav role="navigation" id="main-menu" class="main-menu" aria-label="Main menu">
        <ul class="navbar">
            <li id="logo"><a href="/" id="logoLink">hive builder
                </a>
            </li>
            <li id="searchBar">
                <div class="row">
                <input type="text" placeholder="Search Events" id="event-searchbar">
                <button id="searchButton" type="submit"><i class="fas fa-search"></i></button>
            </div>
            </li>
            <li id="accountLink" class="push" style="margin-left: 0px;"><a class="navText" href="/members">Account</a></li>
            <li id="createEventLink"><a class="navText" href="/create">Create Event</a></li>
            <li><a class="navText" href="/all">All Events</a></li>
            <li id="signUpLink"><a class="navText" href="/signUp">Sign Up</a></li>
            <li id="loginLink"><a class="navText" href="/login">Login</a></li>
            <li id="logOutLink"><a class="navText" href="/logout">Log Out</a></li>
        </ul>
    </nav>
    <a href="#main-menu-toggle" class="backdrop" tabindex="-1" aria-hidden="true" hidden></a>
</header>