<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/signUp.css">
<link rel="stylesheet" type= "text/css" href="css/login.css">
<script src="js/events.js"></script>
<script src="js/event_JN.js"></script>
<script src="js/login.js"></script>
<script src="js/members.js"></script>
<script src="js/signUp.js"></script>
<script src="js/view.js"></script>