<<<<<<< HEAD
<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation" id= "navbar">
    <div class="container-fluid">
    
        <div class="navbar-header" >
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Hive Builder
            </a>
    
            <ul class="nav navbar-nav" >
                <li><a href="/members">Account</a></li>
                <li><a href="/create">Create Event</a></li>
                <li><a href="/all">See Events</a></li>
                <li><a id= "signUp" href="/signUp">Sign Up</a></li>
                <li><a id= "login" href="/login">Login</a></li>
                <li><a id= "logout" href="/logout">Logout</a></li>
                
            </ul>
        </div>
    
    </div>
    
    </nav>
=======
<header>
    <nav role="navigation">
        <ul class="navbar">
            <li id="logo">
                hive builder
            </li>
            <li id="searchBar">
                <form action="API ROUTE">
                    <input type="text" placeholder="Search Events">
                    <button id="searchButton" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </li>
            <li class="push"><a class="navText" href="/members">Account</a></li>
            <li><a class="navText" href="/create">Create Event</a></li>
            <li><a class="navText" href="/all">All Events</a></li>
            <li><a class="navText" href="/signUp">Sign Up</a></li>
            <li><a class="navText" href="/login">Login</a></li>
            </li>
        </ul>
    </nav>
</header>
>>>>>>> 390c5421f97e3c85c16cd83895310158f4550129
