nav{
    background: #333333;
    color: #928e84;
}

nav a {
    color: #928e84;
    font-size: .75rem;
}

button{
    color: #928e84;
    background: #333333;
    font-size: .75rem;
    border: 1px solid #928e84;
    border-radu
}

body{
    background:#d3cdbf;
}