.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
} 
.div1 { grid-area: 2 / 5 / 5 / 8; }
.div2 { grid-area: 1 / 1 / 6 / 5; }
    