
/* .event-title {

.card-img-top {
    width: 100%;
    height: 8vw;
    object-fit: cover;
    font-size: 20pts;
}

.event-desc {
 font-size: 12pts;
}

.event-deets {
 font-size: 12pts;
}

.main {
    box-shadow: 0px 1px 5px #3891A6; 
    background-color: white;
} */


#eventForm {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.alignGridWrapper {
    grid-area: 2 / 2 / 3;
    align-self: center;
  justify-self: center; 
}

#signUpBtn {
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 15px;
    border-radius: 5px;
    padding: 10;
    padding-left: 25px;
    padding-right: 25px;

}

label, textarea, select {
    text-align: left;
    align-content: center;
    justify-content: center;
    display: flex;
    width: 300px;
} 

input {
    padding: 10px;
}

.center {
    text-align: center;
    margin-top: 10px;
}

form {
    
}

label {
    margin-top: 20px;
    margin-bottom: 5px; 
    font-size: 1.2rem;
}

.stickyFooter {
  
    bottom: 0;
   
    margin-top: 50px;
}

