<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container-fluid p-0">

    <header class= "container-fluid p-0">
        <% include ../partials/header %>
    </header>

<main>
    <h1>hello world</h1>
</main>    

</body>

</html>

