<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-6" id= "">    
        <div class="jumbotron"> 
            <h1>Hive Builder</h1> 
                <!-- input <href= images/logo/logo.png -->
            
            <p class= "aboutUs">
            Welcome to Hive Builder! A user friendly interface where users can create events for all occasions.
            Whether you’re planning a local fair or conference, we provide the perfect platform to get your event out and offer sign-up lists for your event.
            </p>
        </div> 
    </div>

    <div class="col-sm-6">        
        <div class="jumbotron">
            <h4> Dont be a lonely bee....</h4>
            <h2>Join the Hive today!</h2>
            <p class= "userData">
                <h4>Name</h4>
                <input type="text" class="form-control" id="nameInput" placeholder=" Enter your name" required>
            
                <h4>Email Address</h4>
                <input type="text" class="form-control" id="emailInput" placeholder="Enter your email" required>

                <h4>Username</h4>
                <input type="text" class="form-control" id="usernameInput" placeholder="Enter a username" required>
            
                <!-- <h4>Password</h4> -->
                <!-- <input type="text" class="form-control" id="password" placeholder=" Enter a strong password" required> -->
                <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter a strong password">
                      </div>
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
            
                <!-- <h4>Re-Type Password</h4>
                <input type="text" class="form-control" id="password2" placeholder="Re-enter your password" required> -->
                <div class="form-group">
                        <label for="exampleInputPassword1">Re-type Password</label>
                        <input type="password" class="form-control" id="password2" placeholder="Re-enter Password">
                      </div>
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
            </p>
            <br>
            <button type="button" class="btn btn-warning btn-lg" id= "submitButton">Submit</button>
        </div>    
    </div>


</div>
</main>
    <!-- Thanks for signing up Modal -->
    <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="modal-title">Thanks for joining the Hive!</h2> 
                    <h3 class= "nextStepModal"> Now let's start making some buzz...</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!-- Invalid Form Modal -->
    <div class="modal fade" id="invalid-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title invalid-title">Invalid Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="invalid-body">
                    Please Fill Out All Form Data
                </div>
            </div>
        </div>
    </div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>

