<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-6" id= "">    
        <!-- <div class="jumbotron"> -->
            <h1></h1>
            <p class= "aboutevent"></p>
        <!-- </div> -->
    </div>

    <div class="col-sm-6">        
        <!-- <div class="jumbotron"> -->
            <h1>Form</h1>
        <!-- </div> -->
    </div>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>