<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
<% include ../partials/head %>
</head>

<body class="container">
  
  <% include ../partials/header %>

  <main>
    <br>
    <br>
    <br>
    <br>
    <div class="container">

      <div class="card-columns">
        <div class="card">
          <img src="images/testimonial/lol.jpeg" class="card-img-top" alt="customer">
          <div class="card-body">
            <h5 class="card-title">Harold's Testimonial</h5>
            <p class="card-text">"According to all known laws of aviation, there is no way a bee should be able to fly.
              Its wings are too small to get its fat little body off the ground. The bee, of course, flies anyway
              because bees don't care what humans think is impossible. Yellow, black. Yellow, black. Yellow, black.
              Yellow, black. Ooh, black and yellow! "</p>
          </div>
        </div>

        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>"No, I'm not going to his funeral, everybody knows you sting someone, you die. You don't waste it on a
              squirrel. He was such a hothead."</p>
            <br>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Barry, <cite title="Source Title">Bee Movie</cite>
              </small>
            </footer>
          </blockquote>
        </div>

        <div class="card">
          <img src="images/testimonial/lol2.jpeg" class="card-img-top" alt="customer">
          <div class="card-body">
            <h5 class="card-title">John Says...</h5>
            <p class="card-text">"Enjoy your flight. Then if we're lucky, we'll have just enough pollen to do the job.
              Oan you believe how lucky we are? We have just enough pollen to do the job! I think this is gonna work.
              It's got to work. Attention, passengers, this is Oaptain Scott. We have a bit of bad weather in New York."
            </p>
            <br>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        <div class="card bg-warning text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>"Do you know what a Cinnabon is? It's bread! And frosting! And cinnamon! They heat it up! Really hot!"
            </p>
            <br>
            <footer class="blockquote-footer text-white">
              <small>
                Barry B. Benson
              </small>
            </footer>
          </blockquote>
        </div>

        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Anthony's Experience</h5>
            <p class="card-text">"And for your information, i prefer sugar Artificial-Sweeteners, MADE BY MAN!!!"</p>
            <br>
            <p class="card-text"><small class="text-muted">Last updated 5 days ago</small></p>
          </div>
        </div>

        <div class="card">
          <img src="images/testimonial/lol4.jpeg" class="card-img-top" alt="customer">
        </div>

        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>"Yeah, you do that. Look at that. You know, I've just about had it with your little mind games. - What's
              that? - Italian Vogue. Mamma mia, that's a lot of pages. A lot of ads. Remember what Van said, why is your
              life more valuable than mine? Funny, I just can't seem to recall that! I think something stinks in here! "
            </p>
            <br>
            <footer class="blockquote-footer">
              <small class="text-muted">
                <cite title="Source Title">Bee Movie</cite>
              </small>
            </footer>
          </blockquote>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Customer's are SATISFIED!</h5>
            <p class="card-text">"There's the sun. Maybe that's a way out. I don't remember the sun having a big 75 on
              it. I predicted global warming. I could feel it getting hotter. At first I thought it was just me."</p>
            <br>
            <p class="card-text"><small class="text-muted">Business Report 2019</small></p>
          </div>
        </div>

        <div class="card">
          <img src="images/testimonial/lol6.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> Rob's Experience...</h5>
            <p class="card-text">"A bee died. Makes an opening. See? He's dead. Another dead one. Deady. Deadified. Two
              more dead. Dead from the neck up. Dead from the neck down. That's life! Oh, this is so hard! Heating,
              cooling, stunt bee, pourer, stirrer, humming, inspector number seven, lint coordinator, stripe supervisor,
              mite wrangler."</p>
          </div>
        </div>

        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>"I'll pierce my thorax. Shave my antennae. Shack up with a grasshopper. Get a gold tooth and call
              everybody "dawg"!"</p>
            <br>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Kelly, small business owner
              </small>
            </footer>
          </blockquote>
        </div>

        <div class="card">
          <img src="images/testimonial/lol5.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Louis recommends Hive Builder because....</h5>
            <p class="card-text">"Check out my new resume. I made it into a fold-out brochure. You see? Folds out. Oh,
              no. More humans. I don't need this. What was that? Maybe this time. This time. This time. This time! This
              time! This... Drapes! That is diabolical. It's fantastic. It's got all my special skills, even my top-ten
              favorite movies. What's number one? Star Wars?
              Nah, I don't go for that... ...kind of stuff. No wonder we shouldn't talk to them. They're out of their
              minds. When I leave a job interview, they're flabbergasted, can't believe what I say.""
            </p>
            <br>
            <p class="card-text"><small class="text-muted">Last updated 10 days ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>