<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../partials/head.ejs %>
</head>

<body>

    <form>
        <input type="text" placeholder="Search Events">
        <button id="searchButton" type="submit"><i
                class= "fas fa-search">
            </i></button>
    </form>


    <% include ../partials/header.ejs %>

    <footer> <% include ../partials/footer %>
    </footer>

</body>

</html>