<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body class="container">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <header>
            <% include ../partials/header.ejs %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>Test Events</h1>
                <p>EJS Test</p>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <h1 id="eventTitle"></h1>
                        <p id="eventDesc"></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </main>

        <footer> <% include ../partials/footer %> 
        </footer>
        
        <!-- <script src="" async defer></script> -->
    </body>
</html>